.container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    gap: 60px;
  }

  .container_sidebar {
    width: 25%;
    border-right: 1px solid gray;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  }

  .container_products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }


  
.productItem {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 80%;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    line-height: 30%;
  }
  .addtocart_btn {
    border: none;
    border-radius: 4px;
    background-color: dimgray;
    color:black;
    cursor: pointer;
  }